Repository UCMercedACM/Chapter-Website, pull requests merged in 2020-03, with the labels that each got.

#33 Features/workshops
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/components/coffee/coffee.component.scss
  src/app/containers/workshops/workshops.component.html
  src/app/containers/workshops/workshops.component.scss
  src/assets/img/acm_logo.png
  src/styles.scss
Labels: angular

#35 Footer complete
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
Labels: enhancement

#36 Login Page
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/index.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/components/navbar/navbar.component.html
  src/app/components/navbar/navbar.component.spec.ts
  src/app/components/navbar/navbar.component.ts
  src/app/containers/account/account.component.html
  src/app/containers/account/account.component.ts
  src/app/containers/index.ts
  src/app/containers/login/login.component.html
  src/app/containers/login/login.component.scss
  src/app/containers/login/login.component.spec.ts
  src/app/containers/login/login.component.ts
  src/app/models/member.ts
  src/app/root-store/member/actions.ts
  src/app/root-store/member/effects.ts
  src/app/root-store/member/reducer.ts
  src/app/root-store/member/state.ts
  src/app/services/data.service.ts
  src/index.html
  yarn 2.lock
Labels: angular, enhancement

#39 Terminal Component
  src/app/app.module.ts
  src/app/components/index.ts
  src/app/components/terminal/terminal.component.html
  src/app/components/terminal/terminal.component.scss
  src/app/components/terminal/terminal.component.spec.ts
  src/app/components/terminal/terminal.component.ts
Labels: enhancement

#42 Login Authentication
  package.json
  src/app/app.module.ts
  src/app/containers/login/login.component.html
  src/app/containers/login/login.component.ts
  src/app/models/member.ts
  src/app/root-store/member/actions.ts
  src/app/root-store/member/reducer.ts
  src/app/services/data.service.ts
  yarn.lock
Labels: enhancement
